.hero__button{
    width: 150px;
    padding: 10px;
    border-radius: 24px;
    border: none;
    background-color: #fff;
    color: #005eff;
    cursor: pointer;
    box-shadow: 0 3px 1px #005eff;
    transition: all 0.3s ease;
}

.hero__button:hover{
    background-color: #005eff;
    color: #fff;
    box-shadow: none;
    transform: translateY(3px);
}

.features__card-button{
    position: absolute;
    opacity: 0;
    bottom: -100px;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    background-color: #fff;
    border: none;
    box-shadow: 1px 1px 5px #bebebe;
    margin-top: 20px;
    transition: all 0.5s ease;
    pointer-events: none;
}

.features__card-button .fa-solid{
    font-size: 1rem;
    margin-bottom: 0;
    color: #005eff !important;
}

.features__card:hover .features__card-button {
    opacity: 1;
    pointer-events: auto;
    cursor: pointer;
    bottom: 30px;
}

.company__card-button{
    background-color: #005eff;
    color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 60px;
    border: none;
    transition: all 0.3s ease;
}

.company__card-button:hover{
    cursor: pointer;
    color: #005eff;
    background-color: #f1f1f1;
    border: 1px solid #005eff;
}

.services__main-button{
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 60px;
    background-color: #ffffff;
    color: #234f90;
    position: absolute;
    right: 0;
    bottom: 0;
    transition: all 0.3s ease;

}

.services__main-button:hover{
    cursor: pointer;
    background-color: transparent;
    color: #ffffff;
    border: 1px solid #fff;
}